DB_NAME=prac
DB_USERNAME=root
DB_PASSWORD="Abm#2004"
DB_HOST=192.168.1.104
DB_PORT=3306
DB_DIALECT=mysql
NEXT_PUBLIC_BASE_URL="/api"

# for production
PROD_DB_NAME=award2025
PROD_DB_USERNAME=admin
PROD_DB_PASSWORD="Admin@123"
PROD_DB_HOST=192.168.1.104
PROD_DB_PORT=3306
PROD_DB_DIALECT=mysql
NEXT_PUBLIC_BASE_URL="/api"


# JWT or Auth
VERIFY_TOKEN_SECRET=8a12b466510a4dbf2616832344431db5d903bdd2bf0d05ce873bd10cc2dde4ad
VERIFY_TOKEN_EXPIRY=15m
ACCESS_TOKEN_SECRET=e22d0121c9cb45f524132bb08629fecf761a78839ecc46822466fe319aa5173d
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=5efb1f6183a72cf2a93a2f56e2eb1fd9aef5a9aaad81f1be1fe7c3a3809f33c6
REFRESH_TOKEN_EXPIRY=7d